:root {
    --main-bottom-margin: 2.5rem;
    --main-font: "Montserrat", san-serif;
    --secondary-font: "Roboto", sans-serif;
    --main-background-color: whitesmoke;
    --main-bottom-padding: 1rem;

}

.container {
    background: var(--main-background-color);
    padding-bottom: var(--main-bottom-padding);
    margin-bottom: var(--main-bottom-margin);
}

.headline {
    font-family: var(--main-font);
}

.main-text {
    font-family: var(--secondary-font);
}

.index {
    margin-bottom: var(--main-bottom-margin);
}

.carousel {
    margin-bottom: var(--main-bottom-margin);
}

.quote {
    font-family: var(--main-font)
}

.author {
    font-family: var(--secondary-font)
}

.create {
    font-family: var(--main-font)
}

.new {
    margin-bottom: var(--main-bottom-margin)
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .25rem;
}

.card {
    margin-bottom: 2.5rem;
}